# Ignore everything and selectively allow files
*

# Allow project files
!.gitignore
!README.adoc
!LICENSE
!CODE_OF_CONDUCT.md
!taskfile.yaml
!.deepsource.toml
!.golangci.yaml
!.goreleaser.yaml
!.github/**/*
!.zed/*
!docs/*.adoc

# Allow Nix flake
!.envrc
!flake.nix
!flake.lock

# Allow Go files
!*.go
!go.sum
!go.mod

# Recurse through sub-directories applying the same patterns
!*/
