# Ignore everything and selectively allow files
*

# Allow project files
!.gitignore
!README.md
!LICENSE
!CODE_OF_CONDUCT.md
!Taskfile.yaml
!.deepsource.toml
!.golangci.yaml
!.goreleaser.yaml
!.github/**/*
!flake.nix
!flake.lock
!.zed/*

# Allow Go files
!*.go
!go.sum
!go.mod
!go.work
!go.work.sum

# Recurse through sub-directories applying the same patterns
!*/
